@if (step == 1) {
  <form [formGroup]="ForgetForm" (ngSubmit)="call()">
  <div class="w-75 mx-auto shadow-sm rounded p-2">
  <label  for="email" class="my-3 h2">Recover your account</label>
  <input formControlName="email" class="form-control" type="email" id="email" placeholder="Email" name="email" required />
  @if(ForgetForm.get('email')?.errors && ForgetForm.get('email')?.touched) {
    @if(ForgetForm.get('email')?.getError('required')) {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">This Filed Is Required</p>
      </div>
    }@else if (ForgetForm.get('email')?.getError('email')) {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">Enter Valid Mail</p>
      </div>
    }
  }
   <button [disabled]="ForgetForm.invalid"  class="btn-main mt-1 w-25">Submit
     @if (isLoading) {
      <i class="fa fa-spin fa-spinner"></i>
      }
   </button>
   @if (Emailmsg) {
    <div class="my-2 w-50">
    <p class="alert alert-success">{{Emailmsg}}</p>
   </div>
   }
  </div>

</form>
}


@if (step==2) {
<form [formGroup]="CodeForm" (ngSubmit)="call2()">
  <div class="w-75 mx-auto shadow-sm rounded p-2">
  <label  for="text" class="my-3 h2">Verify Reset Code</label>
  <input formControlName="resetCode" class="form-control" type="text" id="text" placeholder="Verify Reset Code" name="resetCode" required />
  @if (CodeForm.get('resetCode')?.errors && CodeForm.get('resetCode')?.touched) {
    @if(CodeForm.get('resetCode')?.getError('required'))
    {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">This Filed Is Required</p>
      </div>
    }@else if (CodeForm.get('resetCode')?.getError('pattern')) {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">Enter Valid Code</p>
      </div>
    }

  }
   <button [disabled]="CodeForm.invalid"  class="btn-main mt-1 w-25">Submit
     @if (isLoading) {
      <i class="fa fa-spin fa-spinner"></i>
      }
   </button>
   @if (Codemsg) {
    <div class="my-2 w-50">
    <p class="alert alert-success">{{Codemsg}}</p>
   </div>
  }
  </div>
</form>
}




@if (step==3) {
<form [formGroup]="ResetPasswordForm" (ngSubmit)="call3()">

  <div class="w-75 mx-auto ">
    <h1>Reset Password</h1>
    <input formControlName="email" readonly class="form-control my-2" type="email" id="email" placeholder="Enter Your Email" name="email" required />
  @if (ResetPasswordForm.get('email')?.errors && ResetPasswordForm.get('email')?.touched) {
    @if(ResetPasswordForm.get('email')?.getError('required'))
    {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">This Filed Is Required</p>
      </div>
    }@else if (ResetPasswordForm.get('email')?.getError('email')) {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">Enter Valid Code</p>
      </div>
    }
  }
  </div>

  <div class="w-75 mx-auto ">
  <input formControlName="newPassword" class="form-control my-2" type="password" id="newPassword" placeholder="Enter Your NewPassword" name="newPassword" required />
  @if (ResetPasswordForm.get('newPassword')?.errors && ResetPasswordForm.get('newPassword')?.touched) {
    @if(ResetPasswordForm.get('newPassword')?.getError('required'))
    {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">This Filed Is Required</p>
      </div>
    }@else if (ResetPasswordForm.get('newPassword')?.getError('pattern')) {
      <div class="alert alert-danger w-50 mt-1">
        <p class="m-0">Enter Valid Code</p>
      </div>
    }
  }

  <button [disabled]="ResetPasswordForm.invalid"  class="btn-main mt-1 w-25">Submit
     @if (isLoading) {
      <i class="fa fa-spin fa-spinner"></i>
      }

   </button>
   @if (Restmsg) {
    <div class="my-2 w-50">
    <p class="alert alert-success">{{Restmsg}}</p>
   </div>
  }
  </div>


</form>
}


