<section>
  <div class="container">
    <h1 class="text-center">{{"cart.Shopping Cart" | translate}}</h1>
    <div class="d-flex justify-content-between">
      <h4>{{"cart.Total Price" | translate}} :{{cartItems().totalCartPrice |currency}}</h4>
      <span>{{"cart.Price" | translate}}</span>
    </div>
    <hr>
      @for (item of cartItems().products; track item.product._id) {
        <div class="row align-items-center border-bottom">
        <div class="col-md-2 py-2">
        <div>
          <img class="w-75 h-50 border-1 rounded-5" [src]="item.product.imageCover" alt="pho">
        </div>
      </div>
      <div class="col-md-8   ">
        <div class="text-center">
        <h6>{{item.product.ratingsAverage}}</h6>
        <h4>{{item.product.title}}</h4>
        <button (click)="DeletItem(item.product._id)" class=" btn btn-danger p-1"><i class="fa-solid fa-trash-can"></i></button>
        </div>

      </div>
      <div class="col-md-2 text-end
      ">
        <h4 >{{item.price |currency }}</h4>
        <div>
          <div class="d-flex align-items-center justify-content-end">
            <span (click)="UpdateCount(item.product._id,item.count+1)"><i class="fa-solid fa-circle-plus fa-xl"></i></span>
            <h3 class="p-1">{{item.count}}</h3>
            <span (click)="UpdateCount(item.product._id,item.count-1)"><i class="fa-solid fa-circle-minus fa-xl"></i></span>
          </div>
        </div>
      </div>
      </div>
      }
      <div class="w-100 d-flex justify-content-between">
        <button (click)="gotopay(cartItems()._id)" class="btn btn-main mt-2">{{"cart.Go to Payment" | translate}} <i class="fa-solid fa-sack-dollar"></i></button>
        <button (click)="ClearItems()" class="clear btn btn-danger mt-2">{{"cart.Clear All" | translate}} <i class="fa-solid fa-snowplow"></i></button>
      </div>
  </div>
</section>
