<section class="w-75 mx-auto">
  <form [formGroup]="registerForm" (ngSubmit)="registersubmit()">
    <div class="py-2">
      <label class="py-1" for="name">{{ 'register.Name' | translate }}</label>
      <input [ngClass]="{'is-valid':!registerForm.get('name')?.errors && registerForm.get('name')?.touched,
        'is-invalid':registerForm.get('name')?.errors && registerForm.get('name')?.touched}" formControlName="name" class="form-control" id="name" type="text">
      <!-- touched عشان اول مدخل الصفحه ميحملش الايرور غير لو لمست الا انبوت -->
       <!-- geterrors('Small منساش دايما اللى جواها') -->
        <!-- valid - isinvalid دول جاهزين فى الbootstrap -->
      @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
        <div class="alert alert-danger w-50 p-2 mt-1">
          @if (registerForm.get('name')?.getError('required')) {
          <p class="m-0">This Field Is Required</p>
          }
          @else if (registerForm.get('name')?.getError('minlength')) {
          <p class="m-0">Name Should be more than or equal 3 chars</p>
          }
          @else if (registerForm.get('name')?.getError('maxlength')) {
          <p class="m-0">Name Should be less than or equal 20 chars</p>
          }
      </div>
      }

    </div>


    <div class="py-2">
      <label class="py-1" for="email">{{'register.Email' | translate }}</label>
      <input [ngClass]="{'is-valid':!registerForm.get('email')?.errors && registerForm.get('email')?.touched,
        'is-invalid':registerForm.get('email')?.errors && registerForm.get('email')?.touched}" formControlName="email" class="form-control" id="email" type="email">
            @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
            <div class="alert alert-danger w-50 p-2 mt-1">
              @if (registerForm.get('email')?.getError('required')) {
              <p class="m-0">This Field Is Required</p>
              }
              @else if (registerForm.get('email')?.getError('email')) {
              <p class="m-0">Enter Valid Email</p>
              }
            </div>
            }
    </div>
    <div class="py-2">
      <label class="py-1" for="password">{{'register.Password' | translate }}</label>
      <input [ngClass]="{'is-valid':!registerForm.get('password')?.errors && registerForm.get('password')?.touched,
        'is-invalid':registerForm.get('password')?.errors && registerForm.get('password')?.touched}" formControlName="password" class="form-control" id="password" type="password">
            @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
            <div class="alert alert-danger w-50 p-2 mt-1">
              @if (registerForm.get('password')?.getError('required')) {
              <p class="m-0">This Field Is Required</p>
              }
              @else if (registerForm.get('password')?.getError('pattern')) {
              <p class="m-0">must be at least 6 chars ,1 num , 1 spacialChar</p>
              }
            </div>
            }
    </div>

    <div class="py-2">
      <label class="py-1" for="rePassword">{{'register.Confirm Password' | translate }}</label>
      <input [ngClass]="{'is-valid':!registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched,
        'is-invalid':registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched}" formControlName="rePassword" class="form-control" id="rePassword" type="password">
            @if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) {
            <div class="alert alert-danger w-50 p-2 mt-1">
              <p>Password confirmation is incorrect</p>
            </div>
            }
    </div>

    <div class="py-2">
      <label class="py-1" for="phone">{{'register.Phone' | translate }}</label>
      <input [ngClass]="{'is-valid':!registerForm.get('phone')?.errors && registerForm.get('phone')?.touched,
        'is-invalid':registerForm.get('phone')?.errors && registerForm.get('phone')?.touched}" formControlName="phone" class="form-control" id="phone" type="tel">
            @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
            <div class="alert alert-danger w-50 p-2 mt-1">
              @if (registerForm.get('phone')?.getError('required')) {
              <p class="m-0">This Filed Is Required</p>
              }
              @else if (registerForm.get('phone')?.getError('pattern')) {
              <p class="m-0">Enter Valid phone</p>
              }
            </div>
            }
    </div>


    <!-- [disabled]="registerForm.invalid || isLoading" -->
     <!-- ممكن افعل دى ع الbutton واشيل ال markalltouched() -->
    <button class="btn-main ms-auto d-block" >{{ 'register.submit' | translate }}
      @if (isLoading) {
        <i class="fa fa-spin fa-spinner"></i>
      }
    </button>


  </form>
  @if(messagesucsses)
  {
  <h3 class=" bg-success p-3 text-center">Success</h3>
  }
</section>
