.more
{
  cursor: pointer;
  text-decoration: underlin;

}
@media (max-width: 576px) {

  .product h3,
  .product h4 {
    font-size: 0.8rem;
  }

  .product {
    padding: 1rem 0.5rem;
  }
}

.product img {
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}