.x {
  background-color: #077272;
  padding: 5px;
}

.main-h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-div {
  background-image: url('../../src/assets/images/pexels-n-voitkevich-6214370.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2px;
}
