<section class="w-75 mx-auto">
  <h1 class="text-center my-3 shadow-sm">{{ 'all orders.All Orders From Site' | translate }}</h1>
@for (item of Details; track $index) {
  <div class="text-center bg-light my-2 p-3 rounded rounded-2">
    <div class="d-flex justify-content-between">
      <h5>{{ 'all orders.Payment date' | translate }}</h5>
      <h1>{{item.paidAt |date }}</h1>
    </div>
    <div class="d-flex justify-content-between">
      <h5>{{ 'all orders.Payment time' | translate }}</h5>
      <h1>{{item.paidAt |date : 'shortTime' }}</h1>
    </div>
    <div class="d-flex justify-content-between">
      <h5>{{ 'all orders.Price' | translate }}</h5>
      <h2>{{item.totalOrderPrice |currency }}</h2>
    </div>
    <div class="d-flex justify-content-between">
      <h5>{{ 'all orders.Payment Method' | translate }}</h5>
      <h3>{{item.paymentMethodType}}</h3>
    </div>

  </div>
}
</section>
